<!-- blog.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="title">Blog
        {% if request.user.is_authenticated %}
            <a class="add-btn" href="{% url 'portfolio:novo' tipo='post' %}">Adicionar +</a>
        {% endif %}
    </h3>
    {% load static %}
    <div class="listagem">
        {% for post in posts %}
            <article>
                {% if request.user.is_authenticated %}
                    <a class="edit" href="{% url 'portfolio:editar' tipo='post' tipo_id=post.id %}">Editar</a>
                {% endif %}
                {% if post.imagem %}
                    <img src="{{ post.imagem.url }}" alt="{{ post.imagem.name }}">
                {% else %}
                    <img src="{% static 'portfolio/images/default-image.jpg' %}" alt="Image not found">
                {% endif %}
                <div class="content">
                    <p>
                        <b>{{ post.titulo }}</b>
                        {{ post.descricao }}
                    </p>
                </div>
                <div class="author">
                    <p>Por {{ post.autor }}<br>no dia
                        {% if post.data.date == agora.date %}
                            de hoje
                        {% else %}
                            {{ post.data.day }}/{{ post.data.month }} de {{ post.data.year }}
                        {% endif %}
                        às {{ post.data.hour }}:{{ post.data.minute }}
                    </p>
                    {% if post.link %}
                        <a href="{{ post.link }}">Saber mais</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>

    {% if not request.user.is_authenticated %}
        <div class="info-banner">
            <p>
                Gostava de adicionar, editar ou apagar conteúdo?
                <br>
                Pode fazê-lo após <a href="{% url 'portfolio:login' %}">iniciar sessão</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}