<!-- contact.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="title">Editar: {{ tipo }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <label>Tudo retificado?</label>
        <input type="submit" class="btn btn-success" value="Gravar e editar">
        <a class="btn btn-danger" href="{% url 'portfolio:apagar' tipo=tipo_normal tipo_id=id %}">Apagar</a>
        <input type="reset" class="btn btn-reset" value="Limpar tudo">
    </form>

{% endblock %}