<!-- formDocente.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="title">Adicionar um docente</h3>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Gravar" class="btn btn-success" >
    </form>

    <div class="listagem list-small">
        {% for docente in docentes %}
            <article>
                <p>{{ docente.nome }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}