<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}

    <section class="hero">
        <video autoplay loop muted>
            {% load static %}
            <source src="{% static 'portfolio/videos/hero-video.mp4' %}" type="video/mp4" />
        </video>
        <h1>Rodrigo Félix</h1>
        <p>Estudante de Engenharia Informática</p>
    </section>

    <section class="parallax img1">
        <p>"Não é a linguagem de programação que define o programador, mas sim a sua lógica."</p>
    </section>

    <article class="parallax img2">
        <p>
            Olá! Chamo-me Rodrigo e nasci em '99.<br>Comecei a desenvolver quando tinha cerca de 14 anos e criei o meu
            primeiro navegador web baseado no IE usando Visual Basic.NET nessa época. Estou sempre pronto para aprender
            novas tecnologias e estruturas que podem ajudar a fazer o trabalho melhor e mais rápido, e estou sempre à
            procura do próximo projeto.
        </p>
    </article>

{% endblock %}