<!-- licenciatura.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
	<h3 class="title">Cursos</h3>

    <div class="listagem">
        {% for cadeira in cadeiras %}
            <article>
                <img src="{{ cadeira.imagem.url }}" alt="{{ cadeira.imagem.name }}">
                <div class="content">
                    <h1>{{ cadeira.nome }}</h1>
                    <p>{{ cadeira.ano }}º ano | {{ cadeira.semestre }}º semestre | {{ cadeira.ects }} ects
                        <br>Lecionada por {{ cadeira.docente_teorica.nome }} e {{ cadeira.docente_pratica.nome }}<br><br>
                        {{ cadeira.descricao }}
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>
                Título da cadeira
                <input type="text" class="form-control" name="nome" maxlength="100" placeholder="Escreva o nome da cadeira" required>
            </label>

            <label>
                Descrição da cadeira
                <textarea class="form-control" name="descricao" placeholder="Descreva a cadeira" required></textarea>
            </label>

            <label>
                Imagem de apresentação
                <input type="file" class="form-control" name="imagem" accept="image/*">
            </label>

            <label>
                Docente da componente teórica
                <input class="form-control" name="docente_teorica" placeholder="Escreva um nome" list="docentes" autocomplete="off" required />
                <span class="helptext">Falta aguém? Pode adicionar mais docentes <a href="{% url 'portfolio:docentes' %}">aqui</a></span>
            </label>

            <label>
                Docente da componente prática
                <input class="form-control" name="docente_pratica" placeholder="Escreva um nome" list="docentes" autocomplete="off" required />
                <span class="helptext">Falta aguém? Pode adicionar mais docentes <a href="{% url 'portfolio:docentes' %}">aqui</a></span>
            </label>


            <datalist id="docentes">
                {% for docente in docentes %}
                    <option value="{{ docente.nome }}">
                {% endfor %}
            </datalist>

            <label>
                Ano letivo
                <select class="form-control" name="ano" required>
                    <option value="1">1º ano</option>
                    <option value="2">2º ano</option>
                    <option value="3">3º ano</option>
                </select>
            </label>

            <label>
                Semestre
                <select class="form-control" name="semestre" required>
                    <option value="1">1º semestre</option>
                    <option value="2">2º semestre</option>
                </select>
            </label>

            <label>
                Créditos
                <input type="number" class="form-control" name="ects" max="7" min="3" placeholder="Número de ECTs" required>
            </label>

            <br>
            <label>Tudo pronto para adicionar?</label>
            <input type="submit" class="btn btn-success" value="Adicionar cadeira">
            <input type="reset" class="btn btn-reset" value="Limpar tudo">
        </form>
    {% else %}
        <div class="info-banner">
            <p>Poderá adicionar mais conteúdo fazendo login <a href="{% url 'portfolio:login' %}">aqui</a></p>
        </div>
    {% endif %}
{% endblock %}