<!-- contact.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
    {% if not tipo == "nada" %}
	    <h3 class="title">Adicionar: {{ tipo }}</h3>
    {% else %}
	    <h3 class="title">Comentar</h3>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <label>Tudo preenchido?</label>
        <input type="submit" class="btn btn-success" value="Adicionar">
        <input type="reset" class="btn btn-reset" value="Limpar tudo">
    </form>

    {% if not tipo == "nada" %}
        <br><br>
        <div class="info-banner">
            <p>
                Já viu a página 404?
                <br>
                Altere a palavra <b>{{ tipo }}</b> no URL por outra palavra qualquer e pressione Enter.
            </p>
        </div>
    {% endif %}

{% endblock %}